In [1]:
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd

In [3]:
post = pd.read_csv("./postgres_result.log")
sql = pd.read_csv("./sqlite_result.log")

In [ ]:
sql['insert'].mean() - post['insert'].mean()

-0.42853538990020756

In [14]:
data2 = post['insert'].mean() 
data1 = sql['insert'].mean()
fast = ((data2 - data1) / data2) * 100
fast

42.752089132514975

In [15]:
data2 = post['read'].mean() 
data1 = sql['read'].mean()
fast = ((data2 - data1) / data2) * 100
fast

11.923180829340158

In [ ]:
data2 = post['update'].mean() 
data1 = sql['update'].mean()
fast = ((data2 - data1) / data2) * 100
fast

88.2126306209397

In [19]:
data2 = post['delete'].mean() 
data1 = sql['delete'].mean()
fast = ((data2 - data1) / data2) * 100
fast

-1.5553939755516448

In [ ]:
fig, axs = plt.subplots(2,2, figsize=(20, 8))

axs[0,0].barh("postgres",post['insert'].mean())

axs[0,0].barh("sqlite",sql['insert'].mean())
axs[0,0].set_title('Insert')
axs[0,1].barh("postgres",post['read'].mean())
axs[0,1].barh("sqlite",sql['read'].mean())
axs[0,1].set_title('Read')
axs[1,0].barh("postgres",post['update'].mean())
axs[1,0].barh("sqlite",sql['update'].mean())
axs[1,0].set_title('Update')
axs[1,1].barh("postgres",post['delete'].mean())
axs[1,1].barh("sqlite",sql['delete'].mean())
axs[1,1].set_title('Delete')

In [ ]:
post.mean()

In [ ]:
sql.mean()